- markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, no_intra_emphasis: true, autolink: true)

:markdown
  #{mail_to @customer_interest.email, @customer_interest.name} expressed interest in Toggle services.

  <blockquote>
    #{markdown.render(@customer_interest.content)}
  </blockquote>
