= f.input :name, as: :string, placeholder: "Name", label: false
= f.input :email, as: :string, placeholder: "Email", label: false
= f.input :content, as: :text, placeholder: "Tell us about more. Use Markdown if you'd like.", label: false, input_html: { rows: 5 }
= f.submit "Submit"
