- markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, no_intra_emphasis: true, autolink: true)

:markdown
  #{mail_to @team_interest.email, @team_interest.name} expressed interest in joining the Toggle team.

  <blockquote>
    #{markdown.render(@team_interest.content)}
  </blockquote>
