footer {
  color: $brand-white;
  min-height: 100px;
  text-align: center;
  padding: 10px 10px 0px 10px;

  .footer-content {
    max-width: $content-max-width;
    margin: auto;

    a {
      color: $brand-white;
    }

    li.copyright {
      margin-top: 10px;
    }
  }
}
