.home {
  .logo {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 40px;
    @include media($mobile) {
      padding-top: 20px;
    }
  }

  .company-name {
    text-align: center;
    margin-bottom: 20px;
    color: $brand-white;

    .company-name-small {
      @include media($desktop) {
        display: none;
      }
      span.company-name-small-extended {
        display: block;
        font-size: 0.75em;
      }
    }

    .company-name-large {
      @include media($mobile) {
        display: none;
      }
    }
  }

  h2 {
    color: $brand-red;
  }

  .home-content {
    text-align: center;
    background-color: $brand-white;
    color: $dark-gray;
    padding-bottom: 40px;

    padding: 10px 20% 40px 20%;

    @include media($mobile) {
      padding: 10px 10px 40px 10px;
    }

    p.home-subhead {
      font-size: $base-font-size * 1.5;
    }

    .home-services, .home-team {
      @include outer-container;
      li.block {
        @include span-columns(6);
        @include omega(2n);
        margin-top: em(5);
        @include media($mobile) {
          @include span-columns(1);
          @include omega;
        }
      }

      .home-services-question {
        font-weight: bold;
        color: $brand-red;
        margin-bottom: 0.5em;
      }
    }

    .home-team-form {
      @include span-columns(12);
    }
  }

}
